@charset "utf-8";
/* CSS Document */

.menu-ambient-state{
	-webkit-animation:  menuAmbientDown 0.5s;
	bottom:-1071px;
}

.menu-ambient-state-2{
	-webkit-animation:  menuAmbientDown2 0.5s;
	bottom:-1071px;
}

.menu-ambient-off{
	-webkit-animation:  menuAmbientUp 0.5s;
	bottom:0px;
}

.ambient-init{
	-webkit-animation:  stayDown 0.5s, ambientUp 0.5s;
	-webkit-animation-delay: 0s, 0.5s;
	bottom:0px;
}

.ambient-state-off{
	-webkit-animation:  ambientDown 0.5s;
	
	bottom:-633px;	
	}

.ambient-off{	
	top:1071px;	
}

.ambient-container{
	position:fixed;
	z-index:999;
	width:1080px;
	height:633px;
}

.ambient-bg{
	position:absolute;
	bottom:0px;
}

.ambient-touch-container{
	width:100%;
	position:absolute;
	z-index:10;
	top:0px;
	text-align:center;
}


@-webkit-keyframes stayDown
{
from {bottom:-633px;}
to {bottom:-633px;}
}
	
@-webkit-keyframes ambientDown
{
from {bottom:0px;}
to {bottom:-633px;}
}

@-webkit-keyframes ambientUp
{
from {bottom:-633px;}
to {bottom:0px;}
}

@-webkit-keyframes menuAmbientUp
{
from {bottom:-1071px;}
to {bottom:0px;}
}



@-webkit-keyframes menuAmbientDown
{
from {bottom:0px;}
to {bottom:-1071px}
}

@-webkit-keyframes menuAmbientDown2
{
from {bottom:-795px;}
to {bottom:-1071px;}
}