@charset "utf-8";
/* CSS Document */

/* fonts */

@font-face{
	font-family: TradeGothicLT;
	src:url(../fonts/TradeGothic-LT.ttf);
	}

@font-face{
	font-family: TradeGothicLT_Bold;
	src:url(../fonts/TradeGothic-LT-Bold.ttf);
	}


@font-face{
	font-family: AGaramond_Regular;
	src:url(../fonts/AGaramond-Regular.ttf);
	}

@font-face{
	font-family: AGaramond_Italic;
	src:url(../fonts/AGaramond-Italic.ttf);
	}

@font-face{
	font-family: AGaramond_BoldItalic;
	src:url(../fonts/AGaramond-BoldItalic.ttf);
	}

@font-face{
	font-family: AGaramond_SemiBoldItalic;
	src:url(../fonts/AGaramond-SemiboldItalic.ttf);
	}


*{
	max-width:1080px;	
}



/* body matches HD Screen */

body{
	/* size */
	width:		1080px;
	height: 	1920px;
	
	/* font */ 
	font-family:	TradeGothicLT, Arial, Helvetica, sans-serif;	
	font-size: 		18px;
	line-height: 	27px;
	color: 			#584b40;
	text-transform:	none !important; /* jQuery Mobile applies text-transform to everything*/
	}

.accelerate{
	-webkit-transform: translatez(0);
	}

.iscroll-bottom-spacer{
	height:275px !important;
	}

.no-scrollbar{
	display:none !important;
	}

.invisible{
	visibility: hidden !important;
	}

/**********  Defaults **********/

div[data-role="page"]{
	background:		url(../images/Page_Background-1.jpg);
	width:			1080px;
	height:			1920px;
	font-smooth:	always;
	}

[data-role="page"] .title_header{
	/* size */
	width:	1080px;
	
	/* alignment */
	text-align:		center;
	padding-top:	1em;
	display:		block;
	vertical-align:	bottom;
	
	/* backgrounds */
	background-color:	transparent;
	background-repeat:	no-repeat;
	background-size:	1080px;
	border:				none;
	}

div[data-role="content"]{
	padding:	0px !important;	 /* Override jQM default padding to every page */	
	}

a, a:active, a:visited{
	/* get rid of "blue" links */
	text-decoration:	none;	
	color:				inherit !important;
	}
/*jQuery mobile overrides */
.ui-page {
	color: #584b40 !important;
	}

.ui-bar-a, .ui-overlay-a .ui-bar-inherit, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit, .header-text, .content-footer-links, content-footer-more{
	color: #584b40 !important;
	}

/********** General Page styles **********/

.nobr{
	display:	inline-block;
	}
	
.title_header.no-img{
	height: 			240px;	
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png);
	}

.title_header span.headline{
	font-family:	AGaramond_SemiBoldItalic, Georgia, "Times New Roman", Times, serif;
	font-size: 		64px;
	line-height:	64px;
	color: 			#584b40;
	text-shadow: 	0 -2px 0 rgba(140,129,115,.75),
					0 2px 10px rgba(0,0,0,.25);
	}

.title_header div.headline-container, .title_header div.back-button{
	margin-top:55px;
	}

.subhead{
	font-family:	TradeGothicLT_Bold;
	font-size: 		42px;
	line-height:	64px;
	color: 			#766a5e;
	text-shadow: 	0 2px 10px rgba(0,0,0,0.25);
	}

.back-button{
	margin-top: 		30px;
	margin-left: 		65px;
	position: 			absolute;
	left:				0px;
	top:				25px;
	background:			url(../images/Header-Button-Arrow_Left-Normal-1.png) no-repeat;
	background-size:	cover;
	width:				55px;
	height:				55px;
	}

.content p{
	/* if this is removed the split-column
	content will be uneven **************/
	margin-top:0px !important;
	}



.two-cols{
	column-fill: balance !important;
	-webkit-column-count:2; 
	-webkit-column-gap:32px;
	/*margin: 105px 120px 30px 120px;*/
	margin: 108px 120px;
	}

/********** Content Navigation Table **********/

.content-table .footer-btn img{
	width: 55px;
	height: 55px;
	}

.content-table-top-level{
	margin-top:15px;
	}

.content-table-bottom{
	margin-top:30px;
	}

.content-table-bottom p{
	text-align:left;
	}
	
/********** Content bottom Page Links ***********/

.content-footer{
	width:100%;
	margin-top:30px;
	margin-bottom:50px;
	text-align:center
	}

.content-footer-more{
	width:100%;
	margin-bottom:30px;
	margin-top: 30px;
	}

.content-footer-more span{
	font-family: TradeGothicLT;
	font-size: 12px;
	line-height: 30px;
	font-variant:normal;
	font-weight:bold;
	color: #584b40;
	text-shadow: 0 -2px 0 rgba(255,255,255,.75);
	}

.content-footer-links{
	width:100%;
	}

.content-footer-links ul{
	list-style-type:none;
	margin:0;
	padding:0;
	}

.content-footer-links ul li{
	display: inline-block;
	vertical-align:top;
	max-width:205px;
	padding:0px 2px;
	border-left: 2px solid #666;
	font-family: AGaramond_SemiBoldItalic;
	font-size: 30px;
	color: #584b40;
	}
	
.content-footer-links ul li:first-child{
	border-left: none !important;
	}


/********** Universal Footer styles **********/
.universalFooter{
	/* positioning */
	position:fixed;
	bottom: 0px;
	z-index:9999;
	text-align:center;
	background-image:	url(../images/main_menu/Bottom_Menu-Background-Main-1.png), 
						url(../images/main_menu/Bottom_Menu-GoG_Logo-Collapsed-1.png),
						url(../images/main_menu/Bottom_Menu-Background-White_Opaque-1.png),						
						url(../images/main_menu/Bottom_Menu-Background-White_Translucent-1.png);
	background-position: 	0px 40px, 
							457px 60px,
							0px 20px,							
							0px 0px;
	background-repeat: no-repeat;
	background-size:1080px, auto, 1080px, 1080px;;
	
	/* colors */
	color: #d0cab9;
	
	/* dimensions */
	width:1080px;
	height:1071px;
	
	/* others */
	overflow: hidden;
	-webkit-animation: footerUp 0.5s;
	-webkit-animation-timing-function:ease-out; 
	-webkit-transform: translatez(0);
	}

.universalFooter .slice{
	margin-top: 5px;
	margin-bottom:5px;
	}

.universalFooter ul{
	list-style: none;
	margin: 0px;
	padding:0px;
	} 

.universalFooter .home-btn-containter{
	padding-top:35px;
	}

.universalFooter .home-btn-containter img{
	width: 6.67%;
	}

.universalFooter .footer-title img{
	width:27.77%;
	}

.universalFooter .main-menu-table-bottom{
	margin-top:20px;
	}	
	
.universalFooter .main-menu-table-bottom li,
.universalFooter .footer-items li,
.universalFooter .footer-nav-sub-menu-item li{
	/* backgrounds */	
	background:url(../images/main_menu/menu_divider.png) no-repeat bottom center;
	background-size:48.16%;
	
	/* spacing */
	margin-bottom:10px;
	padding-bottom:10px;
	}

.universalFooter .main-menu-table-bottom li,
.universalFooter .main-menu-table-bottom li a,
.universalFooter .main-menu-table-bottom li a:visited,
.universalFooter .footer-items li a,
.universalFooter .footer-items li a:visited,
.universalFooter .footer-nav-sub-menu-item li a,
.universalFooter .footer-nav-sub-menu-item li a:visited{
	/*fonts*/
	font-family:	AGaramond_SemiBoldItalic;
	font-style:		italic;
	font-variant:	normal;	
	font-size:		40px;
	line-height: 	86px;
	color:			#d0cab9;
	text-shadow: 	0 2px 10px rgba(0,0,0,0.5);
	}

.universalFooter .main-menu-table-bottom li a:active,	
.universalFooter .footer-nav-sub-menu-item li a:active,
.universalFooter .footer-items li a:active{
	color:#766a5e !important;
	}

.universalFooter .main-menu-table-bottom li:last-child,
.universalFooter .footer-items li:last-child,
.universalFooter .footer-nav-sub-menu-item li:last-child{
	background:none;
	}

.universalFooter .footer-nav-menu{
	width:100%;
	}

.universalFooter .footer-nav-menu table{
	width: 100%;
	}
	
.universalFooter .footer-nav-menu table td.footer-table-nav-btn{
	width:20%;
	}	

.universalFooter .footer-nav-menu table td.footer-table-nav-btn{
	text-align: center;
	}	


a.footer-btn img.normal, a.footer-btn:active img.active{
	display:inherit;
	}

a.footer-btn img.active, a.footer-btn:active img.normal{
	display:none;
	}	
	
.universalFooter .footer-btn img{
	width:48px;
	height:48px;
	}

.footer-nav-sub-menu{
	width: 100%;
	overflow:hidden;
	}
	
.footer-nav-sub-menu .footer-nav-sub-menu-container{
	position:absolute;
	border-spacing:0;
    border: none;
	}


.footer-nav-sub-menu .footer-nav-sub-menu-container ul{
	width: 100%;
	display: inline-block;
	}

.footer-nav-sub-menu .footer-nav-sub-menu-container ul li{
	text-align: center;
	}

.main-menu-table-title {
	font-family: 	TradeGothicLT, Arial, Helvetica, sans-serif;
	font-size: 		48px;
	line-height: 	86px;
	font-variant:	normal;
	font-weight:	bold;
	color: 			#f4f0dd;
	text-shadow: 	0 -1px 0 rgba(255,255,255,0.75),
					0 2px 10px rgba(0,0,0,0.5);
	
	}

.main-menu-table-title a{display:block; width:100%; height:100%}

.universalFooter td.side {vertical-align:top; width:200px;}
.universalFooter td.side div{padding-top:20px;}



.universalFooter-down{
	-webkit-animation: 					footerDown 0.5s;
	-webkit-animation-timing-function:	ease-out; 
	bottom:								-795px;
	background-position: 				0px 140px, 
	457px 60px,
										0px 40px,
										
										0px 0px;
	}

.footer-title {
	-webkit-animation: 					footerTitleAppear 0.5s; 
	-webkit-animation-timing-function:	ease-out; 
	}

.universalFooter-down .footer-title{
	-webkit-animation: 					footerTitleGone 0.5s;
	-webkit-animation-timing-function:	ease-out; 
	opacity: 							0;
	}

.universalFooter .home-btn-containter{
	-webkit-animation:  				ContentUp 0.5s;
	-webkit-animation-timing-function:	ease-out; 
	margin-top:							20px;
	}

.universalFooter-down .home-btn-containter{
	-webkit-animation:  				ContentDown 0.5s;
	-webkit-animation-timing-function:	ease-out; 
	margin-top:							140px;
	}


@-webkit-keyframes footerDown 
{
from {
	bottom: 				0px;
	background-position: 	0px 40px, 
							457px 60px,
							0px 20px,							
							0px 0px;
	}
to {
	bottom: 				-795px;
	background-position: 	0px 140px, 
							457px 60px,
							0px 120px,							
							0px 0px;
	}
}

@-webkit-keyframes ContentUp{
	from{margin-top:140px;}
	to{margin-top:20px;}
	}

@-webkit-keyframes ContentDown{	
	from{margin-top:20px;}
	to{margin-top:140px;}
	}

@-webkit-keyframes footerUp
{
to {
	bottom: 				0px;
	background-position: 	0px 40px, 
							457px 60px,
							0px 20px,							
							0px 0px;
	}
from {
	bottom: 				-795px;
	background-position: 	0px 140px,
							457px 60px, 
							0px 120px,							
							0px 0px;
	}
}

@-webkit-keyframes footerTitleGone
{
from {opacity: 1;}
to {opacity: 0;}
}

@-webkit-keyframes footerTitleAppear
{
from {opacity: 0;}
to {opacity: 1;}
}

/* scrolling menus classes */

a.footer-btn{line-height:86px; vertical-align:middle;}

td.middle{overflow:hidden;}	

.gone{display:none;}
	
.menu-lists{
	position:relative; 
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	}	

	
.menu-lists li{overflow:hidden; min-height:86px;}

.menu-lists li div{position:absolute; width:100%; text-align:center;}
	
.slideOut{
	display: inherit;
	left:100%;

	}
	
.slideIn{
	display: inherit;
	left:0; 
	}

.slideInLeft{-webkit-animation: slideInLeft 0.4s;-webkit-animation-timing-function:	ease-in; }
.slideOutLeft{-webkit-animation: slideOutLeft 0.4s;-webkit-animation-timing-function:	ease-in; }
.slideInRight{-webkit-animation: slideInRight 0.4s;-webkit-animation-timing-function:	ease-in; }
.slideOutRight{-webkit-animation: slideOutRight 0.4s;-webkit-animation-timing-function:	ease-in; }


@-webkit-keyframes slideOutLeft {
	from {left:0;}
	to {left:-100%}
	}

@-webkit-keyframes slideInLeft {
	from {left:100%;}
	to {left:0}
	}

@-webkit-keyframes slideOutRight {
	from {left:0;}
	to {left:100%}
	}

@-webkit-keyframes slideInRight {
	from {left:-100%;}
	to {left:0}
	}


/* end scrolling menu */

/* video specific styles */

.hasVideo.ui-popup.ui-body-inherit{
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background-color:transparent !important;
	border-width: 0px; !important;
	}	

.hasVideo.ui-popup.ui-body-inherit video{
	border: 2px solid white;
	border-radius:5px;
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,.6);
	box-shadow: 0 0 12px rgba(0,0,0,.6);
	}	


/********** page style A **********/

.page_style_a .title_header{
	height: 			690px;	
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-GoG-Presidents_Message-1.png);
	}

/********** page style B **********/


.page_style_b .title_header{
	height: 			590px;	
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-SJH-CfoC-1.png);
	}
	
/********** page style C **********/

.page_style_c .content{
	/*margin-left:	0px;
	margin-right:	0px;
	margin-top:		58px;*/
	margin: 108px 0px;
	}
	
.page_style_c .content p.left-side:not(.has-image){
	margin-left:120px;
	}

.page_style_c .content p.right-side:not(.has-image){
	margin-right:120px;
	}

/********** page style D **********/

.page_style_d{
	background: -webkit-linear-gradient(	left, 
											rgba(50,50,50,0.3) 0px,	
											rgba(50,50,50,0.3) 434px,
											rgba(0,0,0,0) 434px,
											rgba(0,0,0,0) 1080px), 
											url(../images/Page_Background-1.jpg) 
											!important;
	}

.page_style_d ul.donor-grid{
	display:		inline-block;
	width:			435px;
	margin-top: 	100px;
	padding:		0px;
	list-style:		none;
	border:			none;
	}
	
.page_style_d ul.donor-grid li{
	padding: 		25px 0px 25px 100px;
	font-family: 	TradeGothicLT, Arial, Helvetica, sans-serif;
	font-size:		28px;
	line-height: 	64px;
	color: 			#584b40;
	border-bottom:	1px solid #FFF;
	}
	
.page_style_d ul.donor-grid li.donor-active{
	background-color:#FFFFFF;
	}
	
.page_style_d div.donor-list-container{
	margin-top: 100px;
	vertical-align:top;
	display:inline-block;
	width:600px;
	}

.page_style_d div.donor-list-container ul{
	width:			100%;
	display:		none;
	font-family: 	TradeGothicLT, Arial, Helvetica, sans-serif;
	font-size:		28px;
	line-height: 	32px;
	color: 			#766a5e;
	list-style:		none;
	padding:		0px;	
	}

.page_style_d div.donor-list-container ul.default{
	/*display:inline-block !important;*/
	}


.page_style_d div.donor-list-container ul li{
	padding: 0px 20px 20px 100px;
	}
	
/********** page style E **********/

.page_style_e .title_header{
	height: 			640px;	
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png);
	}

.page_style_e .title_header .header-text{
	margin:					242px 108px 200px 108px;
	text-align: 			left;
	-webkit-column-count:	2; 
	-webkit-column-gap:		32px;
	font-family: 			TradeGothicLT, Arial, Helvetica, sans-serif;
	font-size:				16px;
	line-height:			24px;
	font-weight:			normal;
	font-variant:			normal 
	}
	
.page_style_e .title_header .header-text p{
	margin-top:0px !important;
	}

.page_style_e [data-role="content"]{
	background-color: rgba(86,71,60,0.1);
	}
	
.page_style_e [data-role="content"] .content-table{
	width:1080px;
	height:500px;
	border:none;
	}

.page_style_e [data-role="content"] table.content-table td{
	vertical-align:top;	
	text-align:center;
	padding:20px;
	}

.page_style_e [data-role="content"] table.content-table td.side{
	width:108px;
	}

.page_style_e [data-role="content"] table.content-table td.middle{
	overflow:hidden;
	}
	
.page_style_e .content-table-title{
	font-family: AGaramond_SemiBoldItalic, Georgia, "Times New Roman", Times, serif;
	font-variant: normal;
	font-weight: bold;
	font-size: 48px;
	line-height:86px;
	color:#766a5e;
	}

.page_style_e .content-table-bottom{
	font-family: AGaramond_Regular, Georgia, "Times New Roman", Times, serif;	
	}

/********** page style F **********/

.page_style_f .title_header{
	height: 700px;
	
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-KCC-Donors-1.png);
						
	/*background-position: 	0px 0px,
							0px 0px,
							0px -200px;*/
	}


.page_style_f .content{
	/*margin: 150px 295px;*/
	margin: 108px 295px;	
	}

/********** page style G **********/

/********** individual Page styles **********/

/* How You Can Make A Difference */

#how_you_can_make_a_difference .title_header{
	height: 			1040px;	!important;
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-GoG-HYCMaD-1.png);
	}
						
#how_you_can_make_a_difference .title_header .header-text{
	margin-top:					615px;
	}

#how_you_can_make_a_difference  [data-role="content"] .content-table{
	height:220px !important;
	}

#how_you_can_make_a_difference .menu-content li{
	height: 130px;
	}


#how_you_can_make_a_difference [data-role="content"]{
	/*background override*/
	background-color: rgba(0,0,0,0);
	}
	
#how_you_can_make_a_difference [data-role="content"] .content-table{
	width:1080px;
	height:500px;
	border:none;
	background-color: rgba(86,71,60,0.1);
	}
	
/* Volunteers */

#volunteers .title_header{
	height: 			745px;	!important;
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-GoG-HYCMaD-Volunteer-1.png);
	}

#volunteers .two-cols{
	/*margin-top:					40px;*/
	}
	
/* Support Through Special Events */

#support_through_special_events .title_header{
	height: 			625px;	!important;
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-GoG-HYCMaD-STSE-1.png);
	}

/* Daniel Rozek Memorial Classic Golf Outing */ 

#daniel_rozek_memorial_classic_golf_outing .title_header{
	height: 			930px;	!important;
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-GoG-HYCMaD-STSE-DRMGC-1.png);
	/*background-position: 	0px -50px,
							0px -50px,
							0px -50px;*/
	}

#daniel_rozek_memorial_classic_golf_outing .two-cols{
	/*margin-top:					40px;*/
	}

/* Element of Art Night */

#element_of_art_night .title_header{
	height: 			1010px;	!important;
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-GoG-HYCMaD-STSE-EoA-1.png);
	/*background-position: 	0px -50px,
							0px -50px,
							0px -50px;*/
	}

/* Element of Art Night */

#a_kentucky_derby_evening .title_header{
	height: 			930px;	!important;
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-GoG-HYCMaD-STSE-KDE-1.png);
	/*background-position: 	0px -50px,
							0px -50px,
							0px -50px;*/
	}
/* St. Joseph’s Community Foundation - See Default page style G */

/* Donors */ 

#donors .title_header{
	height: 			830px;	!important;
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-GoG-SJCF-Donors-1.png);
	/*background-position: 	0px -50px,
							0px -50px,
							0px -50px;*/
	}

#donors .two-cols{
	/*margin-top:					40px;*/
	}

/* St. Joseph’s Hospital Donors - See Default page style D */

/* Your Gifts in Action */

#your_gifts_in_action .title_header{
	/*height: 			830px;	!important;*/
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-GoG-SJCF-YGiA-1.png);
	/*background-position: 	0px -50px,
							0px -50px,
							0px -50px;*/
	}

#your_gifts_in_action .content{
	margin: 108px 120px;
	}

#your_gifts_in_action .content ul{
	margin-left: 70px;
	margin-top: -20px;
	}

/* Community Partnerships - See Default page style E */

#community_partnerships .menu-content li{
	height: 700px;
	}

/* St. Joseph’s Hospital - See Default page style C */

/* Caring for our Community - See Default page style B */

/* Donors */

#donors_stj .title_header{
	height: 700px;
	
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-SJH-Donors-1.png);
						
	/*background-position: 	0px 0px,
							0px 0px,
							0px -200px;*/
	}

/* Alyce & Elmore Kraemer */

#alyce_elmore_kraemer .title_header{
	height: 			690px;	
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-KCC-Alyce_Elmore_Kraemer-1.png);
	/*background-position: 	0px 0px,
							0px 0px,
							0px -200px;*/
	}

/* Caring for our community (Kraemer) */

#kraemer_caring_for_our_community .title_header{
	height: 			590px;	
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-KCC-CfoC-1.png);
	}

/* Donors Kraemer  - See Default page style F */

/* Donor Profile: Ray Moser */

#donor_profile_ray_moser .title_header{
	height: 			950px;	
	background-image:	url(../images/Header-Background-White_Opaque-1.png), 
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-KCC-Donors-DP_Moser-1.png);
						
	}

#donor_profile_ray_moser .two-cols{
	/*margin-top:					40px;*/
	}

/* The Kathy Hospice - HISTORY */

#kathy_hospice_history .title_header{
	height: auto;
	}
	
#kathy_hospice_history .menu-content li{
	height:300px;
	margin-top: 100px;
	}
	
	
/* The Kathy Hospice Donors */
#kathy_hospice_donor .title_header{
	height: 			890px;	
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png),
						url(../images/2092-Header_Photo-TKH-Donors-1.png);
	}
	
/* Kiosk keyboard styles */
#virtualKeyboard{
	border:3px solid #FFF;
	border-radius:10px;
	background-color:rgba(0,0,0,0.2);
	padding:30px;
	position:fixed;
	width:760px;
	left:120px;	
	bottom:-350px;
	z-index:99999;
	}
	
.popup-form{
	width:760px;
	
	}

.popup-form [data-role="header"]{
	border-radius: 10px 10px 0 0;
	
	}
	
