@charset "utf-8";
/* CSS Document */

/* fonts */

@font-face{
	font-family: TradeGothicLT;
	src:url(../fonts/TradeGothic-LT.ttf);
	}

@font-face{
	font-family: TradeGothicLT_Bold;
	src:url(../fonts/TradeGothic-LT-Bold.ttf);
	}


@font-face{
	font-family: AGaramond_Regular;
	src:url(../fonts/AGaramond-Regular.ttf);
	}

@font-face{
	font-family: AGaramond_Italic;
	src:url(../fonts/AGaramond-Italic.ttf);
	}

@font-face{
	font-family: AGaramond_BoldItalic;
	src:url(../fonts/AGaramond-BoldItalic.ttf);
	}

@font-face{
	font-family: AGaramond_SemiBoldItalic;
	src:url(../fonts/AGaramond-SemiboldItalic.ttf);
	}


*{
	max-width:1080px;	
}



/* body matches HD Screen */

body{
	/* size */
	width:		1080px;
	height: 	1920px;
	
	/* font */ 
	font-family:	TradeGothicLT, Arial, Helvetica, sans-serif;	
	font-size: 		18px;
	line-height: 	27px;
	color: 			#584b40;
	text-transform:	none !important; /* jQuery Mobile applies text-transform to everything*/
	}

.accelerate{
	-webkit-transform: translatez(0);
	}

.iscroll-bottom-spacer{
	height:405px !important;
	}

.no-scrollbar{
	display:none !important;
	}

.invisible{
	visibility: hidden !important;
	}

/**********  Defaults **********/

div[data-role="page"]{
	background:		url(../images/Page_Background-1.jpg);
	width:			1080px;
	height:			1920px;
	font-smooth:	always;
	}

[data-role="page"] .title_header{
	/* size */
	width:	1080px;
	
	/* alignment */
	text-align:		center;
	padding-top:	1em;
	display:		block;
	vertical-align:	bottom;
	
	/* backgrounds */
	background-color:	transparent;
	background-repeat:	no-repeat;
	background-size:	1080px;
	border:				none;
	}

div[data-role="content"]{
	padding:	0px !important;	 /* Override jQM default padding to every page */	
	}

a, a:active, a:visited{
	/* get rid of "blue" links */
	text-decoration:	none;	
	color:				inherit !important;
	}
/*jQuery mobile overrides */
.ui-page {
	color: #584b40 !important;
	}

.ui-bar-a, .ui-overlay-a .ui-bar-inherit, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit, .header-text, .content-footer-links, content-footer-more{
	color: #584b40 !important;
	}

.ui-page-theme-a .content-footer-links{
	text-shadow: 0 1px 0 #000; !important;
	}

/********** General Page styles **********/



.nobr{
	display:	inline-block;
	}
	
.title_header.no-img{
	height: 			240px;	
	background-image:	url(../images/Header-Background-White_Opaque-1.png),
						url(../images/Header-Background-White_Translucent-1.png);
	}

.title_header span.headline{
	font-family:	AGaramond_SemiBoldItalic, Georgia, "Times New Roman", Times, serif;
	font-size: 		64px;
	line-height:	64px;
	color: 			#584b40;
	text-shadow: 	0 -2px 0 rgba(140,129,115,.75),
					0 2px 10px rgba(0,0,0,.25);
	}

.title_header div.headline-container, .title_header div.back-button{
	margin-top:55px;
	}

.subhead{
	font-family:	TradeGothicLT_Bold;
	font-size: 		42px;
	line-height:	64px;
	color: 			#766a5e;
	text-shadow: 	0 2px 10px rgba(0,0,0,0.25);
	}

.back-button{
	margin-top: 		30px;
	margin-left: 		65px;
	position: 			absolute;
	left:				0px;
	top:				25px;
	background:			url(../images/Header-Button-Arrow_Left-Normal-1.png) no-repeat;
	background-size:	cover;
	width:				55px;
	height:				55px;
	}

.content p{
	/* if this is removed the split-column
	content will be uneven **************/
	margin-top:0px !important;
	}



.two-cols{
	column-fill: balance !important;
	-webkit-column-count:2; 
	-webkit-column-gap:32px;
	/*margin: 105px 120px 30px 120px;*/
	margin: 108px 120px;
	}

/********** Content Navigation Table **********/

.content-table .footer-btn img{
	width: 55px;
	height: 55px;
	}

.content-table-top-level{
	margin-top:15px;
	}

.content-table-bottom{
	margin-top:30px;
	}

.content-table-bottom p{
	text-align:left;
	}
	
/********** Content bottom Page Links ***********/

.content-footer{
	width:100%;
	margin-top:30px;
	margin-bottom:50px;
	text-align:center
	}

.content-footer-more{
	width:100%;
	margin-bottom:30px;
	margin-top: 30px;
	}

.content-footer-more span{
	font-family: TradeGothicLT;
	font-size: 12px;
	line-height: 30px;
	font-variant:normal;
	font-weight:bold;
	color: #584b40;
	text-shadow: 0 -2px 0 rgba(255,255,255,.75);
	}

.content-footer-links{
	width:100%;
	}

.content-footer-links ul{
	list-style-type:none;
	margin:0;
	padding:0px;
	}

.content-footer-links ul li{
	display: inline-block;
	vertical-align:top;
	width:260px;
	margin: 0px;
	text-align:center;
	padding:0px 10px;
	border-left: 2px solid #666;
	font-family: AGaramond_SemiBoldItalic;
	font-size: 30px;
	color: #584b40;
	}
	
.content-footer-links ul li div{
	vertical-align:middle;
	display: table-cell;
	width:260px;
	text-align:center;
	}
		
.content-footer-links ul li:first-child{
	border-left: none !important;
	}

	
/* Kiosk keyboard styles */
#virtualKeyboard{
	border:3px solid #FFF;
	border-radius:10px;
	background-color:rgba(0,0,0,0.2);
	padding:30px;
	position:fixed;
	width:760px;
	left:120px;	
	bottom:-350px;
	z-index:99999;
	}
	
.popup-form{
	width:760px;	
	}

.popup-form [data-role="header"]{
	border-radius: 10px 10px 0 0;	
	}
	

