@charset "utf-8";
/* CSS Document */

/* fonts */
@font-face{
	font-family: generations;
	src:url(../fonts/AGaramond-Italic.ttf);
	}

/*  Generic page styles */
div[data-role="page"]{
	background:url(../images/Page_Background-1.jpg);
	}



/********** Universal Footer styles **********/
.universalFooter{
	/* positioning */
	position:fixed;
	bottom: 0px;
	z-index:9999;
	text-align:center;
	background-image:	url(../images/main_menu/Bottom_Menu-Background-Main-1.png), 
						url(../images/main_menu/Bottom_Menu-Background-White_Opaque-1.png), 
						url(../images/main_menu/Bottom_Menu-Background-White_Translucent-1.png);
	background-position: 	0px 40px, 
							0px 20px,
							0px 0px;
	background-repeat: no-repeat;
	background-size:cover;
	
	/* colors */
	color:#FFF;
	
	/* dimensions */
	width:100%;
	height:70%;
	
	/* others */
	overflow: hidden;
	}

.universalFooter .slice{
	margin-top: 5px;
	margin-bottom:5px;
	}

.universalFooter ul{
	list-style: none;
	margin: 0px;
	padding:0px;
	} 

.universalFooter .home-btn-containter{
	padding-top:50px;
	}

.universalFooter .home-btn-containter img{
	width: 6.67%;
	}

.universalFooter .footer-title img{
	width:27.77%;
	}

.universalFooter .footer-items li{
	/* backgrounds */	
	background:url(../images/main_menu/menu_divider.png) no-repeat bottom center;
	background-size:48.16%;
	
	/* spacing */
	margin-bottom:10px;
	padding-bottom:10px;
	}



.universalFooter .footer-items li a, .universalFooter .footer-items li a:active, .universalFooter .footer-items li a:visited{
	/*color*/
	color:#FFF;
	text-shadow: 2px 2px 10px #333;
	
	/*styles*/
	text-decoration:none;
	text-transform:none !important;
	
	/*fonts*/
	font-weight:normal;
	font-size:1.6em;
	font-family:generations;	
	}
	
.universalFooter .footer-items li a:hover{
	color:#DDD;
	opacity:0.5;
	}

.universalFooter .footer-items li:last-child{
	background:none;
	}

.universalFooter .footer-nav-menu{
	width:100%;
	}

.universalFooter .footer-nav-menu table{
	width: 100%;
	}
	
.universalFooter .footer-nav-menu table td.footer-table-nav-btn{
	width:20%;
	}	

.universalFooter .footer-nav-menu table td.footer-table-nav-btn-left{
	text-align: left;
	}	

.universalFooter .footer-nav-menu table td footer-prev-btn a{
	background:url(../images/main_menu/Bottom_Menu-Button-Arrow_Left-Normal-1.png) no-repeat;
	}	

.universalFooter .footer-nav-menu table td footer-prev-btn a:hover{
	background:url(../images/main_menu/Bottom_Menu-Button-Arrow_Left-Active-1.png) no-repeat;
	}	

.universalFooter .footer-nav-menu table td.footer-table-nav-btn-right{
	text-align: right;
	}	

.universalFooter .footer-nav-menu table td.footer-table-nav-title{
	width:60%;
	text-align:center;
	}


.footer-nav-sub-menu{
	width: 100%;
	overflow:hidden;
	}
	
.footer-nav-sub-menu .footer-nav-sub-menu-container{
	position:absolute;
	border-spacing:0;
    border: none;
	}


.footer-nav-sub-menu .footer-nav-sub-menu-container ul{
	width: 100%;
	display: inline-block;
	}

.footer-nav-sub-menu .footer-nav-sub-menu-container ul li{
	text-align: center;
	}
